.container{
display: flex;
justify-content: center;
align-items: center;
font-family: 'DM sans';
font-size: 12px;
padding: 20px 0;
font-weight: 500;
p{
  color: #111827;
strong{
  color: #be123c;
  font-weight: 800;
  cursor: pointer;
}
}
}
a{
  text-decoration: none;
}
