<div class="container">
  <div class="carousel">
    <owl-carousel-o [options]="customOptions">
      <ng-template carouselSlide *ngFor="let movie of results">
        <img
          src="https://image.tmdb.org/t/p/original{{ movie.backdrop_path }}"
        />
      </ng-template>
    </owl-carousel-o>
  </div>
  <div class="head_and_button">
    <h2>Featured Movies</h2>
    <p>See more ></p>
  </div>
  <owl-carousel-o [options]="customOptionsCard">
    <ng-template carouselSlide *ngFor="let movie of results">
      <div class="cards">
        <div class="cards_container">
          <div class="movie_image">
            <img
              src="https://image.tmdb.org/t/p/w500{{ movie.poster_path }}"
              [routerLink]="['/series/series',movie.id]"
              alt=""
            />
          </div>
          <div class="location_and_year">
            {{ movie.origin_country[0] | uppercase }} ,
            {{ movie.first_air_date | date : "yyyy" }}
          </div>
          <div class="title">
            {{ movie.name }}
          </div>
          <div class="rating">
            <img src="assets/imdb.png" alt="" />
            <div>{{ movie.vote_average | number : "1.0-1" }} ⭐</div>
          </div>
        </div>
      </div>
    </ng-template>
  </owl-carousel-o>
</div>
