<div class="container">
  <div class="trailer_and_title">
    <div class="trailer">
   
    </div>
    <div class="movie_info_container">
      <div class="movie_info_title_group">
        <h2>
          {{ movieInfo.title }} • {{ movieInfo.release_date | date : "yyyy" }} •
          {{ transformMinute(movieInfo.runtime) }}
        </h2>
        <div
          class="genres genre_buttons"
          *ngFor="let genre of movieInfo.genres"
        >
          {{ genre.name }}
        </div>
      </div>
      <div class="rating_and_icons_group">
        <div class="icons">
          <img src="assets/heart.png" alt="" />
          <img src="assets/share.png" alt="" />
          <img src="assets/bookmark-white.png" alt="" />
        </div>
        <div class="rating">
          <h2>{{ movieInfo.vote_average | number : "1.0-1" }}⭐</h2>
          <h2>| {{ movieInfo.vote_count }}</h2>
        </div>
      </div>
    </div>
  </div>

  <!-- actual info starts here -->
  <div class="movie_others_info">
    <div class="movie_posters">
      <img
        src="https://image.tmdb.org/t/p/w500{{ movieInfo.poster_path }}"
        alt=""
      />
    </div>
    <div class="others_info">
      <p class="overview">{{ movieInfo.overview }}</p>

      <h1>Other's info</h1>
      <p>
        Release date : <span>{{ movieInfo.release_date }}</span>
      </p>
      <div class="underline"></div>

      <p>
        Budget : <span>{{ movieInfo.budget }}</span>
      </p>
      <div class="underline"></div>
      <p>
        Revenue : <span>{{ movieInfo.revenue }}</span>
      </p>
      <div class="underline"></div>
      <p>
        Production companies :
        <span *ngFor="let company of movieInfo.production_companies">
          {{ company.name }},
        </span>
      </p>
      <div class="underline"></div>

      <p>
        Languages :
        <span *ngFor="let language of movieInfo.spoken_languages"
          >{{ language.name }} ,
        </span>
      </p>
    </div>
  </div>
</div>
