$color: #111827;
$font: "DM Sans";
$secondaryColor: #9ca3af;
.container {
  display: flex;
  padding: 0 50px;
  height: 100vh;
  justify-content: center;
  align-items: center;
  // background: rgb(238, 174, 202);
  // background: radial-gradient(
  //   circle,
  //   rgba(238, 174, 202, 1) 0%,
  //   rgba(148, 187, 233, 1) 100%
  // );
  background-image: linear-gradient(to right top, #111827, #303746, #525967, #767d8a, #9ca3af);
}
.left_container {
  display: flex;
  flex: 4;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  &-movie_posters img {
    width: 300px;
    height: 420px;
    border-radius: 20px;
  }
  &-watch_trailer {
    input {
      margin: 20px 0;
      width: 300px;
      height: 65px;
      padding: 10px 10px 10px 2px;
      border-radius: 29px;
      cursor: pointer;
      outline: none;
      border: none;
      font-family: DM Sans;
      font-size: 16px;
      background-color: $color;
      color: #9ca3af;
    }
    input:hover {
      background-color: white;
      color: $color;
      border: 2px solid $color;
    }
  }

  &-fav-group {
    display: flex;
    justify-content: space-between;
    width: 300px;
    padding: 10px 30px;
    &-watched,
    &-watch_later,
    &-favorite {
      cursor: pointer;
      display: flex;
      justify-content: center;
      align-items: center;
      flex-direction: column;
      gap: 10px;
      font-size: 14px;
      font-family: $font;
    }
  }
}

.right_container {
  flex: 6;
  width: 100%;
  &-title h2 {
    font-family: $font;
    font-size: 40px;
    font-weight: 700;
    color: $color;
  }
  &-cta {
    display: flex;
    gap: 10px;
    padding: 10px 0;
    input {
      margin: 20px 0;
      width: 160px;
      height: 45px;
      padding: 10px 10px 10px 2px;
      border-radius: 29px;
      cursor: pointer;
      outline: none;
      border: none;
      font-family: DM Sans;
      font-size: 16px;
      background-color: $color;
      color: #9ca3af;
    }
    input:hover {
      background-color: white;
      color: $color;
      border: 2px solid $color;
    }
  }
  &-storyline-overview-group {
    &-storyline {
      font-family: $font;
      font-size: 16px;
      font-weight: 700;
      color: $color;
      padding: 6px 0;
    }
    &-overview {
      font-family: $font;
      font-size: 16px;
      font-weight: 400;
      color: $color;
      padding: 6px 0;
      text-align: justify;
    }
  }
  &_rating_table {
    display: flex;
    flex-direction: column;
    text-align: justify;
    p {
      width: 40%;
      padding: 10px 0;
      font-family: $font;
      font-size: 16px;
      color: $color;
      font-weight: 500;
    }
  }
  .right_container_rating_table-release,
  .right_container_rating_table-rating,
  .right_container_rating_table-duration {
    display: flex;
    gap: 40px;
    width: 100%;
    justify-content: space-between;
    h6 {
      font-family: $font;
      font-size: 18px;
      color: $color;
      font-weight: 600;
      padding: 10px 0;
    }
  }
  .span_group {
    display: flex;
    margin-left: 52%;
  }
  .countries_group {
    display: flex;
    margin-left: 50%;
    gap: 10px;
  }

  .right_container_rating_table-countries,
  .right_container_rating_table-genres {
    display: flex;
    align-items: center;
    span {
      display: flex;
      align-items: center;
      padding: 5px 10px;
      height: 25px;
      font-family: $font;
      border-radius: 15px;
      background-color: $color;
      color: $secondaryColor;
      border: none;
      outline: none;
      font-size: 12px;
      margin: 10px 5px;
      cursor: pointer;
    }
    span:hover {
      background-color: white;
      color: $color;
      border: 2px solid $color;
    }

    h6 {
      font-family: $font;
      font-size: 18px;
      color: $color;
      font-weight: 600;
      padding: 10px 0;
    }
    h4 {
      font-family: $font;
      font-size: 16px;
      color: $color;
      font-weight: 500;
      padding: 10px 0;
    }
  }
}
// .trailer_and_title {
//   display: flex;
//   flex-direction: column;
// }

// .movie_info_container {
//   display: flex;
//   font-family: $font;
//   padding: 10px 0;
//   color: $color;
// }
// .movie_info_title_group {
//   justify-content: space-around;
//   display: flex;
//   align-items: center;
//   flex: 5;
// }

// .genres {
//   margin-left: 1rem;
//   text-align: center;
//   font-family: $font;
//   font-weight: 500;
//   font-size: 14px;
//   display: flex;
//   justify-content: space-around;
//   cursor: pointer;
// }
// .genres:hover {
//   color: #ffffff;
//   background-color: #000;
// }
// .genre_buttons {
//   display: flex;
//   justify-content: center;
//   align-items: center;
// padding: 8px;
//   // height: 30px;
//   border-radius: 15px;
//   border: 1px solid rgba(232, 232, 232, 0.35);
//   box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.25);
//   flex-shrink: 0;
//   cursor: pointer;
// }

// .rating_and_icons_group {
//   margin-left: 180px;
//   flex: 3;
//   justify-content: space-between;
//   display: flex;
//   align-items: center;
// }
// .icons {
//   display: flex;
//   flex: 1;
//   justify-content: space-evenly;
// }
// .icons img {
//   cursor: pointer;
//   height: 20px;
//   width: 20px;
// }
// .rating {
//   margin-right: 20px;
//   display: flex;
//   justify-content: flex-end;
//   margin: 10px;
//   align-items: center;
//   flex: 1;
// }
// .rating h2:nth-child(1) {
//   font-size: 25px;
// }
// .rating h2:nth-child(2) {
//   font-size: 20px;
//   color: $secondaryColor;
// }
// .movie_others_info {
//   display: flex;
// }
// .overview {
//   font-size: 4px;
// }
// .movie_posters img {
//   width: 300px;
//   height: 100%;
//   border-radius: 15px;
// }
// .underline {
//   height: 1px;
//   width: 100%;
//   background-color: $secondaryColor;
// }
// .others_info {
//   font-family: $font;
//   display: flex;
//   line-height: 25px;
//   flex-direction: column;
//   padding: 20px;
// }
// .others_info p {
//   font-family: DM Sans;
//   font-size: 16px;
//   font-weight: 400;
//   color: $color;
//   padding: 8px 0;
// }
// .others_info span {
//   // font-size: 14px;
//   // color: $secondaryColor;
//   color: #111827;
//   font-family: DM Sans;
//   font-size: 12px;
// }
