<div class="container">
  <div class="left_side">
    <img src="assets/onboarding.png" alt="" />
  </div>
  <div class="right_side">


    <div class="signUpForm" *ngIf="!showLogin">
      <div class="right_side_text">
        <h2>Sign Up</h2>
        <p>
          Already have an account?
          <a (click)="openLoginForm()" >Login here</a>
        </p>
      </div>
      <form [formGroup]="userSignUpForm" (ngSubmit)="onSubmit()">

        <div class="group">
          <label for="email">Email</label>
          <div class="email_group">
            <img src="assets/email.png" width="18px" height="20px">
            <input id="email" type="text" placeholder="Enter your email address" formControlName="email">
          </div>
        </div>

        <div class="group">
          <label for="username">Username</label>
          <div class="user_group">
            <img src="assets/user.png" width="18px" height="20px">
            <input id="email" type="text" placeholder="Enter your username" formControlName="username">
          </div>
        </div>

        <div class="group">
          <label for="pwd">Password </label>
          <div class="password_group">
            <img src="assets/unlock.png" alt="" width="18px" height="20px">
            <input id="pwd" type="text" placeholder="Enter your password" formControlName="password">
          </div>
        </div>

        <div class="group">
          <label for="cnfPwd">Confirm password </label>
          <div class="password_group">
            <img src="assets/unlock.png" width="18px" height="20px">
            <input id="cnfPwd" type="text" placeholder="Confirm your password" formControlName="confirmPassword">
          </div>
        </div>
        <button type="submit">SIGN UP</button>
      </form>
    </div>

    <div *ngIf="showLogin">
      <div class="right_side_text">
        <h2>Log in</h2>
        <p>
         New user?
          <a (click)="openSignUpForm()" >Register here</a>
        </p>
      </div>

      <form [formGroup]="userSignUpForm" (ngSubmit)="onSubmit()">



        <div class="group">
          <label for="username">Username</label>
          <div class="user_group">
            <img src="assets/user.png" width="18px" height="20px">
            <input id="email" type="text" placeholder="Enter your username" formControlName="username">
          </div>
        </div>

        <div class="group">
          <label for="pwd">Password </label>
          <div class="password_group">
            <img src="assets/unlock.png" alt="" width="18px" height="20px">
            <input id="pwd" type="text" placeholder="Enter your password" formControlName="password">
          </div>
        </div>


        <button type="submit">LOG IN</button>
      </form>
    </div>

  </div>
</div>
