<div class="container">
  <div class="left_side">
    <img src="https://image.tmdb.org/t/p/original/jXJxMcVoEuXzym3vFnjqDW4ifo6.jpg" alt="" />
  </div>
  <div class="right_side">
    <div class="signUpForm" *ngIf="!showLogin">
      <div class="right_side_text">
        <h2>Sign Up</h2>
        <p>
          Already have an account?
          <a (click)="openLoginForm()">Login here</a>
        </p>
      </div>
      <!-- <form [formGroup]="userSignUpForm" #signUpForm (ngSubmit)="onSubmit()">

          <div class="group">
            <label for="email">Email</label>
            <div class="email_group">
              <img src="assets/email.png" width="18px" height="20px">
              <input id="email" type="text" placeholder="Enter your email address" formControlName="email">
            </div>
            <div class="error_p_styles"
              *ngIf="userSignUpForm.get('email').invalid && (userSignUpForm.get('email').dirty || userSignUpForm.get('email').touched)">
              {{signUpFormErrors.emailRequiredError}}</div>

            <div class="error_p_styles"
              *ngIf="userSignUpForm.get('email').hasError('email')">
              {{signUpFormErrors.emailInvalidError}}</div>
          </div>


          <div class="group">
            <label for="username">Username</label>
            <div class="user_group">
              <img src="assets/user.png" width="18px" height="20px">
              <input id="email" type="text" placeholder="Enter your username" formControlName="username">
            </div>
            <div class="error_p_styles"
              *ngIf="userSignUpForm.get('username').invalid && (userSignUpForm.get('username').dirty || userSignUpForm.get('username').touched)">
              {{signUpFormErrors.userNameRequiredError}}</div>

          </div>

          <div class="group">
            <label for="pwd">Password </label>
            <div class="password_group">
              <img src="assets/unlock.png" alt="" width="18px" height="20px">
              <input id="pwd" type="text" placeholder="Enter your password" formControlName="password">
            </div>
            <div class="error_p_styles"
              *ngIf="userSignUpForm.get('password').invalid && (userSignUpForm.get('password').dirty || userSignUpForm.get('password').touched)">
              {{signUpFormErrors.passwordRequiredError}}</div>
          </div>


          <div class="group">
            <label for="cnfPwd">Confirm password </label>
            <div class="password_group">
              <img src="assets/unlock.png" width="18px" height="20px">
              <input id="cnfPwd" type="text" placeholder="Confirm your password" formControlName="confirmPassword">
            </div>
            <div class="error_p_styles"
              *ngIf="userSignUpForm.get('confirmPassword').value !== userSignUpForm.get('password').value ">
              {{signUpFormErrors.confirmPasswordMismatchError}}</div>

        </div>
        <button type="submit">SIGN UP</button>
      </form> -->
      <form [formGroup]="userSignUpForm" (ngSubmit)="onSubmit()" >

        <div class="group">
          <label for="email">Email</label>
          <div class="email_group">
            <img src="assets/email.png" width="18px" height="20px">
            <input id="email" type="text" placeholder="Enter your email address" formControlName="emailId">
          </div>
          <div class="error_p_styles"
               *ngIf="userSignUpForm.get('emailId').hasError('required') && userSignUpForm.get('emailId').touched">
            {{signUpFormErrors.emailRequiredError}}
          </div>
          <div class="error_p_styles"
               *ngIf="userSignUpForm.get('emailId').hasError('emailId')">
            {{signUpFormErrors.emailInvalidError}}
          </div>
        </div>

      <div class="group">
          <label for="username">Username</label>
          <div class="user_group">
            <img src="assets/user.png" width="18px" height="20px">
            <input id="userName" type="text" placeholder="Enter your username" formControlName="userName">
          </div>
          <div class="error_p_styles"
               *ngIf="userSignUpForm.get('userName').hasError('required') && userSignUpForm.get('userName').touched">
            {{signUpFormErrors.userNameRequiredError}}
          </div>
          <div class="error_p_styles"
               *ngIf="userSignUpForm.get('userName').hasError('minlength')">
            {{signUpFormErrors.userNameLengthError}}
          </div>
        </div>

        <div class="group">
          <label for="pwd">Password</label>
          <div class="password_group">
            <img src="assets/unlock.png" alt="" width="18px" height="20px">
            <input id="pwd" type="password" placeholder="Enter your password" formControlName="password">
          </div>
          <div class="error_p_styles"
               *ngIf="userSignUpForm.get('password').hasError('required') && userSignUpForm.get('password').touched">
            {{signUpFormErrors.passwordRequiredError}}
          </div>
          <div class="error_p_styles"
               *ngIf="userSignUpForm.get('password').hasError('minlength')">
            {{signUpFormErrors.passwordLengthError}}
          </div>
        </div>

        <div class="group">
          <label for="cnfPwd">Confirm password</label>
          <div class="password_group">
            <img src="assets/unlock.png" width="18px" height="20px">
            <input id="cnfPwd" type="password" placeholder="Confirm your password" formControlName="confirmPassword">
          </div>
          <div class="error_p_styles"
               *ngIf="(userSignUpForm.get('confirmPassword').value !== userSignUpForm.get('password').value)   && userSignUpForm.get('confirmPassword').touched">
            {{signUpFormErrors.confirmPasswordMismatchError}}
          </div>
        </div>

        <button type="submit" [disabled]="!userSignUpForm.valid">REGISTER</button>
      </form>


    </div>

    <div *ngIf="showLogin">
      <div class="right_side_text">
        <h2>Log in</h2>
        <p>
          New user?
          <a (click)="openSignUpForm()">Register here</a>
        </p>
      </div>

      <form [formGroup]="userSignUpForm" (ngSubmit)="onSubmit()">



        <div class="group">
          <label for="username">Username</label>
          <div class="user_group">
            <img src="assets/user.png" width="18px" height="20px">
            <input id="email" type="text" placeholder="Enter your username" formControlName="username">
          </div>
        </div>

        <div class="group">
          <label for="pwd">Password </label>
          <div class="password_group">
            <img src="assets/unlock.png" alt="" width="18px" height="20px">
            <input id="pwd" type="text" placeholder="Enter your password" formControlName="password">
          </div>
        </div>


        <button type="submit">LOG IN</button>
      </form>
    </div>

  </div>
</div>
