<div class="container">
  <div class="head_and_button">
    <h2>New Arrival</h2>
    <p>See more ></p>
  </div>
 <owl-carousel-o [options]="customOptionsCard">
    <ng-template carouselSlide *ngFor="let movie of results">
      <div class="cards">
        <div class="cards_container">
          <div class="movie_image">
            <img
              src="https://image.tmdb.org/t/p/w500{{ movie.poster_path }}"
              [routerLink]="['/movies/movie', movie.id]"
              alt=""
            />
          </div>
          <div class="location_and_year">
            {{ movie.release_date | date : "yyyy" }}
          </div>
          <div class="title">
            {{ movie.title }}
          </div>
          <div class="rating">
            <img src="assets/imdb.png" alt="" />
            <div>{{ movie.vote_average | number : "1.0-1" }} ⭐</div>
          </div>
          <div class="genres">
            <p>{{movie.genre_ids}}</p>
          </div>
        </div>
      </div>
    </ng-template>
  </owl-carousel-o>


</div>

