<div class="container">
  <div class="series_container">
    <div class="head_and_button">
      <h2>Featured series</h2>
      <p routerLink="/series">See more ></p>
    </div>
    <owl-carousel-o [options]="customOptionsCard">
      <ng-template carouselSlide *ngFor="let series of results">
        <div class="cards">
          <div class="cards_container">
            <div class="movie_image">
              <div class="image_overlays">
                <div class="type">
                  <p>
                   TV Series
                  </p>
                </div>
                <div class="heart" (click)="addToFavorites(series.id)">
  <img [src]="'assets/' + getFavStatus(series.id)">
                </div>
              </div>

              <img
                src="https://image.tmdb.org/t/p/w500{{ series.poster_path }}"
                [routerLink]="['/series/series', series.id]"
              />
            </div>
            <div class="location_and_year">
              {{ series.origin_country[0] | uppercase }} ,
              {{ series.first_air_date | date : "yyyy" }}
            </div>
            <div class="title">
              {{ compressTitle(series.name) }}
            </div>
            <div class="rating">
              <img src="assets/imdb.png" alt="" />
              <div>{{ series.vote_average | number : "1.0-1" }} ⭐</div>
            </div>
            <div class="genres">
              <p>{{ getGenreNamesByIds(series.genre_ids,'series') }}</p>
            </div>
          </div>
        </div>
      </ng-template>
    </owl-carousel-o>

  </div>
  <div class="new_arrival_container">
    <div class="head_and_button">
      <h2>New Arrival</h2>
      <p routerLink="/movies" >See more ></p>
    </div>
   <owl-carousel-o [options]="customOptionsCard">
      <ng-template carouselSlide *ngFor="let movie of newArrivalResults">
        <div class="cards">
          <div class="cards_container">
            <div class="movie_image">
              <div class="image_overlays">
                <div class="type">
                  <p>
                    Movie
                  </p>
                </div>
                <div class="heart" (click)="addToFavorites(movie.id)">
  <img [src]="'assets/' + getFavStatus(movie.id)">
                </div>
              </div>
              <img
                src="https://image.tmdb.org/t/p/w500{{ movie.poster_path }}"
                [routerLink]="['/movies/movie', movie.id]"
                alt=""
              />
            </div>
            <div class="location_and_year">
              {{ movie.release_date | date : "yyyy" }}
            </div>
            <div class="title">
              {{ compressTitle(movie.title) }}
            </div>
            <div class="rating">
              <img src="assets/imdb.png" alt="" />
              <div>{{ movie.vote_average | number : "1.0-1" }} ⭐</div>
            </div>
            <div class="genres">
              <p>{{ getGenreNamesByIds(movie.genre_ids,'movies') }}</p>
            </div>
          </div>
        </div>
      </ng-template>
    </owl-carousel-o>
  </div>
</div>

