$primaryColor: #111827;
$font: "DM Sans";
$secondaryColor: #be123c;
.container {
  padding: 1rem 3rem;
}

.head_and_button {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0 30px;
  padding: 20px 0;
}
.head_and_button h2 {
  color: $primaryColor;
  font-family: $font;
  font-size: 36px;
  font-weight: 700;
  line-height: normal;
}
.head_and_button p {
  color: $secondaryColor;
  font-family: $font;
  font-size: 18px;
  font-weight: 400;
  line-height: 24px;
  cursor: pointer;
}

.cards_container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  font-family: $font, sans-serif;
  padding: 0 20px;
}
.movie_image img {
  width: 250px;
  cursor: pointer;
  height: 375px;
  border-radius: 25px;
}
.location_and_year {
  font-size: 16px;
  font-weight: 600;
  text-align: left;
  color: #9ca3af;
  width: 250px;
  padding: 4px;
}
.title {
  color: #111827;
  font-size: 20px;
  font-weight: 900;
  padding-top: 15px;
  width: 250px;
  line-height: 30px;
}
.rating {
  display: flex;
  color: #111827;
  font-weight: 600;
  justify-content: space-between;
  width: 250px;
  padding: 4px;
}
.rating img {
  width: 50px;
  object-fit: contain;
}
.genre {
  color: #9ca3af;
  width: 250px;
  font-weight: 600;
  padding: 4px;
}
.cards {
  display: flex;
}
.known_for_group{
  width: 250px;
  padding: 10px;
}
.known_for {
display: flex;
justify-content: flex-start;
font-family: DM Sans;
font-size: 12px;
font-weight: 700;
text-align: left;
color: #9CA3AF;
}
// .genre_buttons {
//   display: flex;
//   justify-content: center;
//   align-items: center;
//   width: fit-content;
//   height: 30px;
//   font-size: 12px;
//   border-radius: 15px;
//   border: 1px solid rgba(232, 232, 232, 0.35);
//   box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.25);
//   flex-shrink: 0;
//   cursor: pointer;
//   margin-left: 10px;
// }

// .genres
// {
// display: flex;
// }
#known {
display: flex;
width: 100%;
font-size: 14px;
color: #111827;
}
