$primaryColor: #111827;
$font: "DM Sans";
$secondaryColor: #be123c;
.container {
  padding: 0 3rem;

  @media screen and (max-width:450px) {
    margin: -4rem 0;

  }
}
.head_and_button {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 30px;

  @media screen and (max-width: 560px) {
    margin: 20px 0;
  }
}

.head_and_button h2 {
  color: $primaryColor;
  font-family: $font;
  font-size: 36px;
  font-weight: 700;


  @media screen and (max-width: 560px) {
    font-size: 24px;
  }
  @media screen and (max-width: 400px) {
    font-size: 18px;
    font-weight: 900;
  }
}

.head_and_button p {
  color: $secondaryColor;
  font-family: $font;
  font-size: 18px;
  font-weight: 400;
  line-height: 24px;
  cursor: pointer;

  @media screen and (max-width: 560px) {
    font-size: 16px;
  }
  @media screen and (max-width: 400px) {
    font-size: 14px;
    font-weight: 900;
  }
}

.cards_container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  font-family: $font, sans-serif;
  padding: 0 20px;


}

.cards_container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  font-family: $font, sans-serif;
  padding: 0 20px;
}

.movie_image img {
  width: 250px;
  height: 375px;
  cursor: pointer;
  border-radius: 25px;


  @media screen and (max-width: 560px) {
    height: 220px;
    width: 150px;
    padding: 12px;
  }
  @media screen and (max-width:400px){
    height: 180px;
    width: 120px;
  }
}

.location_and_year {
  font-size: 16px;
  font-weight: 600;
  text-align: left;
  color: #9ca3af;
  width: 250px;
  padding: 4px;
}
.title {
  color: #111827;
  font-size: 20px;
  font-weight: 900;
  padding-top: 15px;
  width: 250px;
  line-height: 30px;

  @media screen and (max-width:430px){
    font-size: 12px;
    width: max-content;
    line-height: 0px;

  }
}
.cards {
  display: flex;
  justify-content: center;
}
.known_for_group{
  width: 250px;
  padding: 10px;
  @media screen and (max-width:430px){
    width: 120px;
    padding:20px  0px;
    margin-left: 23px;
  }

}
.known_for {
display: flex;
justify-content: flex-start;
font-family: DM Sans;
font-size: 12px;
font-weight: 700;
text-align: left;
color: #9CA3AF;
}
#known {
display: flex;
width: 100%;
font-size: 14px;
color: #111827;
}
