<div class="container">
  <div class="head_and_button">
    <h2>Featured Actors</h2>
    <p>See more ></p>
  </div>
  <owl-carousel-o [options]="OptionsCard">
    <ng-template carouselSlide *ngFor="let profile of results">
      <div class="cards">
        <div class="cards_container">
          <div class="movie_image">
            <img
              src="https://image.tmdb.org/t/p/w500{{ profile.profile_path }}"
              alt=""
            />
          </div>

          <div class="title">
            {{ profile.name }}
          </div>
          <div class="known_for_group">
            <h2 id="known">Known For:</h2>
            <div class="known_for" *ngFor="let known of profile.known_for">

                  <ul>
                    <li>
                      {{ getEllipsisText(known.name || known.title || known.original_title, 15) }}
                    </li>
                  </ul>

            </div>
          </div>
        </div>
      </div>
    </ng-template>
  </owl-carousel-o>
</div>
