
<div class="container">
  <div class="carousel">
    <owl-carousel-o [options]="customOptions">
      <ng-template
        carouselSlide
        *ngFor="let movie of results.slice(5, 12)"

        let-i="index"
      >
        <img
          src="https://image.tmdb.org/t/p/original{{ movie.backdrop_path }}"
        />

        <div class="carousel-inner">
          <div class="name">
            <h2>
              {{ movie.title }}
            </h2>
          </div>
          <div class="rating">
            <img src="assets/imdb(1).png" alt="" />
            <div>{{ movie.vote_average | number : "1.0-1" }} ⭐</div>
          </div>
          <div class="overview">
            <p>
              {{ movie.overview }}
            </p>
          </div>
          <div class="watch">
            <button style="cursor: pointer" (click)="openTrailer(i - 4)">
              Watch trailer
            </button>
          </div>
        </div>
      </ng-template>
    </owl-carousel-o>
  </div>
  <div class="search_results" *ngFor="let result of searchResult" (click)="isModalOpened = !isModalOpened" (clickOutside)="isModalOpened = false">
    <div *ngFor="let movie of searchQueries.distinctTitles; let i = index; let isLast = last">
      <div class="search_results_container">
        <div>
          <p>
            {{ movie }}
          </p>
        </div>
        <div *ngIf="searchQueries.posterPaths[i]">
          <img
            [routerLink]="['/movies/movie', searchQueries.id[i]]"
            src="https://image.tmdb.org/t/p/w500{{ searchQueries.posterPaths[i] }}"
            alt=""
          />
        </div>
      </div>
      <div class="underline" *ngIf="!isLast"></div>
    </div>
  </div>

  <div class="navbar">
    <div class="logo_and_name">
      <div class="logo">
        <img src="assets/icon.png" alt="" />
      </div>
      <div class="logo_name">
        <h2>MovieBox</h2>
      </div>
    </div>

    <div class="search_box">
        <input
          formControlName="movie-search"
          #movieSearch
          type="search"
          name=""
          id=""
          class="login"
          placeholder="What do you want to watch?"
          (keyup.enter)="getSearchResults(movieSearch.value)"
        />

      <div
        class="search_icon"
        style="cursor: pointer"
        (click)="getSearchResults(movieSearch.value)"
      >
        <img src="assets/Search.png" alt="" />
      </div>
    </div>

    <div class="navbar_burger-icon">
      <div class="login">
        <h2>Login</h2>
      </div>
      <div class="burger_icon">
        <img src="assets/burger.png" alt="" srcset="" />
      </div>
    </div>
  </div>
</div>
