
// @use "igniteui-angular/theming" as *;
// // Uncomment the following lines if you want to add a custom palette:
// // $primary: #731963 !default;
// // $secondary: #ce5712 !default;
// // $app-palette: palette($primary, $secondary, $surface);

// /* autoprefixer grid: on */

// @include core();
// @include typography($font-family: $material-typeface, $type-scale: $material-type-scale);
// @include theme($default-palette);

/* You can add global styles to this file, and also import other style files */
// @import url('https://fonts.googleapis.com/css2?family=DM+Sans:opsz,wght@9..40,400;9..40,500;9..40,600&display=swap');

@import url('https://fonts.googleapis.com/css2?family=DM+Sans:opsz,wght@9..40,500;9..40,600;9..40,700;9..40,800;9..40,900&display=swap');
@import 'ngx-owl-carousel-o/lib/styles/scss/owl.carousel';
@import 'ngx-owl-carousel-o/lib/styles/scss/owl.theme.default';

* {
  margin: 0;
  padding: 0;
}

.owl-theme .owl-nav [class*=owl-] {
  background:transparent !important;


}

.owl-carousel .owl-nav
{
  .owl-next{
    position: relative;
left: 46%;
top: -345px;
}
.owl-prev{
  position: relative;
  top: -345px;

  right: 48%;
}
}
