.search_results {
  height: fit-content;
  width: 520px;
  background-color: red;

  color: black;
  position: absolute;
  top: 103px;
  left: 32%;
  z-index: 100;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
p{
  font-family: DM Sans;
  font-size: 16px;
  font-weight: 600;
  color: #333333;
  line-height: 24px;
  padding: 8px;
}
img{
  width: 45px;
  height: 60px;
}
}
.search_results_container{
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
  cursor: pointer;
}
.underline{
  height: 2px;
  background-color: rgb(179, 179, 179);
  width: 100%;
}
::placeholder {
  color: white;
  opacity: 1;

  @media screen and (max-width: 805px) {
   font-size: 12px;
  }
}
